<h2>Cadastro do Cliente</h2>
<form action="/cadastro/cliente" method="POST">
  <label>Nome:</label>
  <input type="text" name="nome" required />
  
  <label>Data de Nascimento:</label>
  <input type="date" name="data_nascimento" required />

  <label>Email:</label>
  <input type="email" name="email" required />

  <label>Telefone:</label>
  <input type="text" name="telefone" required />

  <label>Endereço:</label>
  <input type="text" name="endereco" required />

  <button type="submit">Próximo</button>
</form>